{% extends 'frame.html' %}

{% block title %}
增加
{% endblock %}

{% block content %}
<div class="right_col" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                  <div class="x_title">
                    <h2>新增生产流程<small>需要生产管理权限</small></h2>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">
                    <br>
                    <form id="add" name="add" class="form-horizontal form-label-left" method="post" action=".">

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id">编号
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="id" required="required" class="form-control col-md-7 col-xs-12" name="id">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">流程名称
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="name" required="required" class="form-control col-md-7 col-xs-12" name="name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">负责人
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="leading_man" required="required" class="form-control col-md-7 col-xs-12" name="leading_man">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">所需时间
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="number" id="specification" required="required" class="form-control col-md-7 col-xs-12" name="required_time">
                        </div>
                      </div>
                       <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">生产流程
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="productionChain" class="form-control col-md-7 col-xs-12" name="productionChain">
                        </div>
                      </div>
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">额外信息
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea class="form-control" rows="3" placeholder="额外信息" name="note"></textarea>
                        </div>
                      </div>

                      <div class="ln_solid"></div>

                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <a class="btn btn-primary" href="{% url 'material_management' %}">取消</a>
						    <button class="btn btn-primary" type="reset">重置</button>
                            <button type="submit" class="btn btn-success">提交</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
</div>
{% endblock %}