{% extends 'frame.html' %}

{% block title %}
增加
{% endblock %}

{% block content %}
<div class="right_col" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                  <div class="x_title">
                    <h2>新增人员<small>需要人员管理权限</small></h2>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">
                    <br>
                    <form id="add" name="add" class="form-horizontal form-label-left" method="post" action=".">

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id">编号
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="id" required="required" class="form-control col-md-7 col-xs-12" name="id" placeholder="{{id_ordered}}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">名称
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="name" required="required" class="form-control col-md-7 col-xs-12" name="name">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gender">性别
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select form="add" id="gender" class="form-control select2_group form-control" required="" name="gender">
                            <option value="男">男</option>
                            <option value="女">女</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="department">部门
                          </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select form="add" id="department" class="form-control select2_group form-control" required="" name="department">
                              {% for department in departments %}
                              <option value="{{department.name}}">{{department.name}}</option>
                              {% endfor %}
                            </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">在职情况
                          </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="radio" class="flat" value="True" name="on_the_job" />在职
                          <input type="radio" class="flat" value="False" name="on_the_job" />非在职
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">学历
                          </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <input type="text" name="qualification" class="form-control" placeholder="<5">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">民族
                          </label>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                          <input type="text" name="nation" class="form-control">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">籍贯
                          </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="native_place" class="form-control" placeholder="<20">
                        </div>
                      </div>

                      <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label col-md-6 col-xs-6">职务
                          </label>
                        <div class="col-md-4 col-xs-6">
                          <input type="text" name="post" class="form-control">
                        </div>
                      </div>

                      <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label col-md-1 col-xs-6">行政级别
                          </label>
                        <div class="col-md-4 col-xs-6">
                          <input type="text" name="level" class="form-control">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md- col-sm-3 col-xs-12">联系方式
                          </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="phone_number" class="form-control">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">邮箱
                          </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="email" name="mail" class="form-control">
                        </div>
                      </div>

                      <div class="ln_solid"></div>

                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <a class="btn btn-danger" href="{% url 'FlowOfProduction_management' %}">取消</a>
						    <button class="btn btn-primary" type="reset">重置</button>
                            <button type="submit" class="btn btn-success">提交</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
</div>
{% endblock %}