{% extends "frame.html" %}
{% block title %}
产品信息
{% endblock %}
{% block content %}
<div class="right_col" role="main">
<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>产品信息 </h2>
                      <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    <form id="detail" class="form-horizontal form-label-left" method="post" name="detail">

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id">id
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="id" readonly="readonly" required="required" class="form-control col-md-7 col-xs-12" name="id" value="{{product.id}}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pro_id">物料编号
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="pro_id" name="pro_id" readonly class="form-control col-md-7 col-xs-12" value="{{product.product_id}}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">名称
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="name" name="name" readonly class="form-control col-md-7 col-xs-12" value="{{product.name}}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="select">修改物料
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select form="detail" id="select" class="form-control select2_group form-control" required="" name="pro_alter">
                              {% for m_ter in materials %}
                              <option value="{{m_ter.id}}">({{m_ter.id}}){{m_ter.name}}</option>
                              {% endfor %}
                            </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <a class="btn btn-sm btn-success btn-block" href="{% url 'plan_add' product.id %}">增加计划</a>
                        </div>
                      </div>
                      <div class="ln_solid"></div>

                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
						  <button class="btn btn-primary" type="reset">重置</button>
                          <a class="btn btn-success" href="javascript:if(confirm('确定要删除此产品吗?')) location='{% url 'product_delete' product.id %}'">删除</a>
                          <button class="btn btn-success" type="submit">保存</button>
                          <a class="btn btn-success" href="{% url 'MPS_detail' product.forMps.id %}">返回</a>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
</div>
{% endblock %}