{% extends 'frame.html' %}

{% block title %}
MRP详情
{% endblock %}

{% block content %}

<div class="right_col" role="main">
  <div class="x_panel">

          <div class="x_title">
            <h2>{{mps.name}}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <!--设置栏-->
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-left">
            <div class="btn-group col-md-5">
                <p><a class="btn btn-sm btn-success btn-block" href="{% url 'indent_all_show' mps.id %}">显示全部</a></p>
            </div>
            <div class="btn-group col-md-5">
                <p><a class="btn btn-sm btn-success btn-block" href="{% url 'purchase_show' mps.id %}">显示外购</a></p>
            </div>
          </div>
            <!--表格-->
          <div class="col-sm-12">
              {% for manu_infer in manufactures %}
              <table id="datatable-checkbox1" class="table table-striped table-bordered bulk_action dataTable no-footer" role="grid" aria-describedby="datatable-checkbox_info">
              {% if forloop.first %}
                  <caption><b>自主加工</b></caption>
              {% endif %}
                  <thead><tr role="row">
                          <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 167px;">编号</th>
                          <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 167px;">物料编号</th>
                          <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 167px;">名称</th>
                          <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 167px;">计划投入量</th>
                          <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 167px;">投入时间</th>
                          <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 167px;">计划产出量</th>
                          <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 167px;">产出时间</th>
                        </tr>
                </thead>
                <tbody>
                {% if not manu_infer.plan %}
                <tr>

                <td>{{manu_infer.manu.id}}</td>
                <td>{{manu_infer.manu.product_id}}</td>
                <td>{{manu_infer.manu.name}}</td>
                <td align='center'>空</td>
                <td align='center'>空</td>
                <td align='center'>空</td>
                <td align='center'>空</td>
              </tr>

                {% else %}

                        {% for plan in manu_infer.plan %}
                          <tr>
                              {% if forloop.first %}
                            <td rowspan=10>{{manu_infer.manu.id}}</td>
                            <td rowspan=10>{{manu_infer.manu.product_id}}</td>
                            <td rowspan=10>{{manu_infer.manu.name}}</td>
                              {% endif %}
                            <td align='center'>{{plan.in_amount}}</td>
                            <td align='center'>{{plan.in_time}}</td>
                            <td align='center'>{{plan.out_amount}}</td>
                            <td align='center'>{{plan.out_time}}</td>
                          </tr>
                        {% endfor %}
                {% endif %}
                </tbody>
              </table>
            {% endfor %}
            </div>

          </div>
  </div>
</div>
{% endblock %}
