{% extends "frame.html" %}
{% block title %}订单信息
{% endblock %}
{% block content %}
<div class="right_col" role="main">
<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>订单信息 </h2>
                      <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    <form id="detail" class="form-horizontal form-label-left" method="post" name="detail">

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id">订单编码
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="id" readonly="readonly" required="required" class="form-control col-md-7 col-xs-12" name="id" value="{{order.id}}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="supplier">供应商
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="supplier" name="supplier" readonly="readonly" required="required" class="form-control col-md-7 col-xs-12" value="{{order.supplier.name}}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="staff">采购员
                          </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="staff" class="form-control select2_group form-control" required="" name="buyer">
                              <option value="{{order.staff}}">{{order.staff}}</option>
                              {% for buyer in staff %}
                              <option value="{{buyer.name}}">{{buyer.name}}</option>
                              {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">电话
                          </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="number" name="number" required="required" class="form-control col-md-7 col-xs-12" value="{{order.supplier.number}}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">到货地址
                          </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="address" name="address" required="required" class="form-control col-md-7 col-xs-12" value="{{order.address}}">
                        </div>
                      </div>

{#                      <div class="form-group">#}
{#                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="send_time">订单发送时间#}
{#                          </label>#}
{#                        <div class="col-md-6 col-sm-6 col-xs-12">#}
{#                          <input type="date" id="send_time" name="send_time"  class="form-control col-md-7 col-xs-12" value="{{order.send_time}}">#}
{#                        </div>#}
{#                      </div>#}

{#                      <div class="form-group">#}
{#                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="predict_time">预期到货时间#}
{#                          </label>#}
{#                        <div class="col-md-6 col-sm-6 col-xs-12">#}
{#                          <input type="date" id="predict_time" name="predict_time"  class="form-control col-md-7 col-xs-12" value="{{order.predict_time}}">#}
{#                        </div>#}
{#                      </div>#}

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="order_maker">制单人
                          </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="order_maker" name="order_maker" required="required" class="form-control col-md-7 col-xs-12" value="{{order.order_maker}}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="reviewer">审核人
                          </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="reviewer"  name="reviewer"  class="form-control col-md-7 col-xs-12" value="{{order.reviewer}}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="remarks">备注
                          </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="remarks" name="remarks"  class="form-control col-md-7 col-xs-12" value="{{order.remarks}}">
                        </div>
                      </div>
                    {% if order.state == '未确认'%}
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">状态</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="radio" class="flat" name="state"  value="已确认" /> 已确认
                          <input type="radio" class="flat" name="state" checked="True" value="未确认" /> 未确认
                        </div>
                      </div>
                     {% else %}
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">状态</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="radio" class="flat" name="state" checked="True" value="已确认" /> 已确认
                        </div>
                      </div>
                    {% endif %}
{##}
{#                      <div class="form-group">#}
{#                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="state">状态#}
{#                          </label>#}
{#                        <div class="col-md-6 col-sm-6 col-xs-12">#}
{#                          <input type="text" id="state" name="state"  class="form-control col-md-7 col-xs-12" value="{{order.state}}">#}
{#                        </div>#}
{#                      </div>#}

                      <div class="col-sm-12">
                  <div class="x_title">
                    <h2>物料明细 </h2>
                      <div class="clearfix"></div>
                  </div>
                      <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action dataTable no-footer" role="grid" aria-describedby="datatable-checkbox_info">
                        <thead><tr role="row">
                          <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 167px;">物料名称</th>
                          <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 167px;">规格型号</th>
                          <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 167px;">数量</th>
                          <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 167px;">单价</th>
                          <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 167px;">运费</th>
                          <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 167px;">合格率</th>
                          <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 167px;">操作</th>
                        </tr></thead>
                        <tbody>
                          {% for requisition in requisition %}
                                <tr>
                                <td>{{requisition.material_name}}</td>
                                <td>{{requisition.specifications}}</td>
                                <td>{{requisition.amount}}</td>
                                <td>{{requisition.price}}</td>
                                <td>{{requisition.tran_price}}</td>
                                <td>{{requisition.rate}}</td>
                               {% if order.state == '未确认' %}
                                <td>
                                <a href="{% url 'detail delete' requisition.id order.id %}" style="color: #953b39;text-decoration: underline #00aeef;">
                                    移除
                                </a>
                                </td>
                               {% else %}
                                <td></td>
                               {% endif%}
                              <tr>
                          {% endfor %}
                        </tbody>
                      </table>
            {% if order.state == '未确认' %}
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-left">
                        <div class="btn-group col-md-5">
                                <a class="btn btn-sm btn-success btn-block" href="{% url 'add detail' order.id %}">新增明细</a>
                        </div>
                    </div>

                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="reset">重置</button>
                          <button class="btn btn-success" type="button" onclick="act()">保存</button>
                          <button class="btn btn-success"  href="{% url 'supply information' %}">取消</button>
                        </div>
                      </div>
            {% else %}
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-success"  href="{% url 'supply information' %}">返回</button>
                        </div>
            {% endif%}
                  </div>
                    </form>
                  </div>
                </div>
</div>
</div>

<script>
    function act(){
        document.detail.action="{% url 'order detail' order.id %}";
        document.detail.submit();
    }
</script>
{% endblock %}