{% extends 'frame.html' %}

{% block title %}
增加
{% endblock %}

{% block content %}
<div class="right_col" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                  <div class="x_title">
                    <h2>新增检验单<small>需要人员管理权限</small></h2>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">
                    <br>
                    <form id="add" name="add" class="form-horizontal form-label-left" method="post" action=".">

<!--                      <div class="form-group">-->
<!--                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id">检验单编号-->
<!--                        </label>-->
<!--                        <div class="col-md-6 col-sm-6 col-xs-12">-->
<!--                          <input type="text" id="id" required="required" class="form-control col-md-7 col-xs-12" name="id">-->
<!--                        </div>-->
<!--                      </div>-->
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="wuliaobianhao">物料编号
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <select type="text" id="wuliaobianhao" required="required" class="form-control col-md-7 col-xs-12" name="wuliaobianhao">
                              {% for Materials in Materialss %}
                               <option value={{Materials.id}}>
                                 {{Materials.name}}({{Materials.id}})

                              </option>
                              {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="jiagongzongxin_id">加工中心编号
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select type="text" id="jiagongzongxin_id" required="required" class="form-control col-md-7 col-xs-12" name="jiagongzongxin_id">
                              {% for jiagongzhongxin in jiagongzhongxins %}
                               <option value={{jiagongzhongxin.id}}>
                                 {{jiagongzhongxin.id}}

                              </option>
                              {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="jyrid">检验申请人编号
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                         <select type="text" id="jyrid" required="required" class="form-control col-md-7 col-xs-12" name="jyrid">
                              {% for Staff in Staffs %}
                               <option value={{Staff.id}}>
                                 {{Staff.name}}({{Staff.id}})

                              </option>
                              {% endfor %}
                          </select>
                        </div>
                      </div>

                         <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="chejianid">车间编号
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="chejianid"  class="form-control col-md-7 col-xs-12" name="chejianid">
                        </div>
                      </div>
                          <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="shijian">时间
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="date" id="shijian"  class="form-control col-md-7 col-xs-12" name="shijian">
                        </div>
                      </div>
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="shuliang">数量
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="shuliang"  class="form-control col-md-7 col-xs-12" name="shuliang">
                        </div>
                      </div>
                          <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="jieguo">检验结果
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select type="text" id="jieguo" required="required" class="form-control col-md-7 col-xs-12" name="jieguo">
                              <option value='1'>
                                  合格

                              </option>
                               <option value='0'>
                                 不 合格

                              </option>
                          </select>
                        </div>
                      </div>

                      <div class="ln_solid"></div>

                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <a class="btn btn-primary" href="{% url 'jianyandan' %}">取消</a>
						    <button class="btn btn-primary" type="reset">重置</button>
                            <button type="submit" class="btn btn-success">提交</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
</div>
{% endblock %}